
package promedio;

import java.util.Scanner;

public class Promedio
{

    public static void main(String[] args) {
    //codigo
    Scanner prome = new Scanner(System.in);
    double cal1,cal2,cal3,cal4;
    System.out.println("Promedio general");
    System.out.println("Ingresa la primera calificacion");
    cal1=prome.nextDouble();
    System.out.println("Ingresa la segunda calificacion");
    cal2 = prome.nextDouble();
    System.out.println("Ingresa la tercera calificacion");
    cal3 = prome.nextDouble();
    
    cal4 = ((cal1+cal2+cal3)/3);
    System.out.println("El Promedio general es = "+cal4);
    
        
    }
}
